/* css file used for the html */
body {
 font-family: 'Arial', sans-serif;
}

header {
 background-color: #09ff00;
 color: white;
 padding: 10px;
 text-align: center;
}

main {
 margin: 20px;
}

ul {
 list-style-type: none;
 padding: 0;
}

li {
 margin-bottom: 20px;
}

.post {
  background-color: #ffcccc;
  color: black;
  padding: 10px;
  border: 1px solid #ff99aa;
}

footer {
 background-color: #ff6600;
 color: rgb(0, 0, 0);
 padding: 10px;
 text-align: center;
}
